
# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
build/
dist/

# Virtual environment
venv/
env/

# IDE and OS files
.DS_Store
.vscode/
.idea/

# Data and model files
recognition/unet_curtisshyu/data/
*.nii
*.nii.gz
*.npy
*.pth
*.pt

# Logs and temporary outputs
*.log
*.tmp
